version: "3"

services:
  nginx:
    restart: always
    build:
      ./nginx
    ports:
    - "80:80"
    volumes:
    - static-content:/vol/web

  app:
    build:
      context: .
    ports:
    - "8000:8000"
    volumes:
    - ./app:/app
    - static-content:/vol/web
    command: >
      sh -c "python manage.py wait_for_db &&
             gunicorn app.wsgi"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:12-alpine
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    volumes:
    - db-data:/var/lib/postgresql/data

volumes:
  db-data:
  static-content:
